<div class="atm-history container" *ngIf="CurrentUser | async as user">
    <h3 class="title">Transaction History</h3>
    <div class="row justify-content-center">
        <h5 class='col-sm-3 center-tile'>Type</h5>
        <h5 class='col-sm-6 center-tile'>Message</h5>
        <h5 class='col-sm-3 center-tile'>Date</h5>
    </div>
    <div *ngFor="let transaction of transactionHistory(user)">
        <div class="row">
            <span class='col-sm-3 center-tile' style="text-transform:uppercase">{{transaction.type}}</span>
            <span class='col-sm-6 center-tile'>{{transaction.message}}</span>
            <span class='col-sm-3 center-tile'>{{transaction.date}}</span>
        </div>
    </div>
</div>
