<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="admin-landing" routerLinkActive="active">Home</a>
            <a class="navbar-item" routerLink="overview" routerLinkActive="active">Overview</a>
            <a class="navbar-item" routerLink="restock" routerLinkActive="active">Restock</a>
            <a class="navbar-item" routerLink="withdraw" routerLinkActive="active">Withdraw</a>
        </div>
    </div>
</nav>
