.page-header {
    text-align: center;
    padding: 20px;
}

.input-group {
    padding-left: 40px;
    padding-right: 40px;
}

.submit-button {
    align-content: center;
}

.withdraw-success {
    color: #2C9E0B;
    text-align: center;
    padding: 20px;
}

.withdraw-fail {
    color: #C11212;
    text-align: center;
    padding: 20px;
}