<footer class="container">
    <div class="row align-items-end">
        <div class="col-sm-6 copyright">
            <p>
                Copyright &copy; 2020 Michael Wester
            </p>
        </div>
        <div class="col-sm-6 social">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/michael-wester-ab550447/" target="_blank"><i
                            class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://github.com/benderCO"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/7400802/michael-wester?tab=profile"><i
                            class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.codewars.com/users/mpwester"><img src="app/assets/codewars.svg"
                            class="codewars-img" alt="Codewars"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
