.page-header {
    text-align: center;
    padding: 20px;
}

.input-group {
    padding-left: 40px;
    padding-right: 40px;
}

.restock-success {
    color: #2C9E0B;
    text-align: center;
    padding: 20px;
}

.submit-button {
    align-content: center;
}